/*
Definição dos valores padrão para animação nos browser na sequencia
Chrome e Safari, Mozilla Firefox, Opera
 */
@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

/* Definiição da animação fadeIn */
.fadeIn {
-webkit-animation: fadeIn 2s ease-in-out;
-moz-animation: fadeIn 2s ease-in-out;
-o-animation: fadeIn 2s ease-in-out;
animation: fadeIn 2s ease-in-out;
}

/* Movimento do titulo */
.move {
  animation-duration: 1s;
  animation-name: slideIn;
}
@keyframes slideIn {
  from {
    margin-left: 100%;
    width: 150%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* Movimento do subtitulo */
.move2 {
  animation-duration: 1.5s;
  animation-name: slide2;
}

@keyframes slide2 {
  from {
    margin-left: 100%;
    width: 150%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
